In [1]:
import os
import pandas as pd
os.chdir("/home/mediaworker/anaconda2/envs/pandas_playground/")
df = pd.read_csv("datasets/jamesbond.csv", index_col="Film")
df.sort_index(inplace=True)
df.head(5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

In [9]:
# extraxt two rows randomly and return brand new dataframe
df.sample(n=2)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5

In [15]:
# extract 25 percent of rows randomly and return brand new dataframe
# by default it extracts from index
df.sample(frac=0.25)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1

In [16]:
# extract one column randonly
df.sample(axis="columns", n=1)

                                           Director
Film
A View to a Kill                          John Glen
Casino Royale                       Martin Campbell
Casino Royale                            Ken Hughes
Diamonds Are Forever                   Guy Hamilton
Die Another Day                        Lee Tamahori
Dr. No                                Terence Young
For Your Eyes Only                        John Glen
From Russia with Love                 Terence Young
GoldenEye                           Martin Campbell
Goldfinger                             Guy Hamilton
Licence to Kill                           John Glen
Live and Let Die                       Guy Hamilton
Moonraker                             Lewis Gilbert
Never Say Never Again                Irvin Kershner
Octopussy                                 John Glen
On Her Majesty's Secret Service       Peter R. Hunt
Quantum of Solace                      Marc Forster
Skyfall                                  Sam Mendes
Spectre                                  Sam Mendes
The Living Daylights                      John Glen
The Man with the Golden Gun            Guy Hamilton
The Spy Who Loved Me                  Lewis Gilbert
The World Is Not Enough               Michael Apted
Thunderball                           Terence Young
Tomorrow Never Dies              Roger Spottiswoode
You Only Live Twice                   Lewis Gilbert